[alias]
	adog = "log --all --decorate --oneline --graph"
	bug = "log -n 1 --pretty=fixes"
	kernel = "log -n 1 --pretty=commit"
	log-merge = "!f() { git log --oneline --graph --stat \"$1^..$1\"; }; f"

[core]
	abbrev = 12
	editor = "nvim"
	pager = "delta"

[credential]
	helper = "store"

[delta]
	light = "false"
	navigate = "true"

[diff]
	colorMoved = "default"

[interactive]
	diffFilter = "delta --color-only"

[merge]
	conflictstyle = "diff3"

[pretty]
	commit = "commit %h (\"%s\")"
	fixes = "Fixes: %h (\"%s\")"

[user]
	email = rrrrr4413@gmail.com
	name = c8763yee

[init]
	defaultBranch = main

[sendemail]
   smtpserver = /usr/bin/msmtp
